{% extends 'base1.html' %}
{% load static %}
{% block content %}
    <div class="container">
      <div class="row">
        
        <div class="col-sm-4">
        </div>

        <div class="col-sm-4 text-center">
          <form method="post" action="{%url 'accounts:password_reset_done'%}">
            {%csrf_token%}
            <h1 class="h3 mb-3 font-weight-normal">Password Reset Complete</h1>
        
            <p>Your new password has been set. You can log in now on the <a href=" {% url 'accounts:login' %}">log in page</a>.</p>
                 
          </form>
        </div>

        <div class="col-sm-4">
        </div>

      </div>
    </div>
    {% endblock %}