{% extends 'base.html' %}
{% load static %}
{% block content %}

		<!-- Sections -->
		<div class="sections">
			<div class="sections-wrapper clearfix">

				

				<!-- Portfolio -->
				<section id="section6">
					<div class="container">
						<h2>Certificates</h2>
						<div class="portfolio-wrapper">
							<div id="portfolio-filters" class="portfolio-filters">
								<a href='{% url 'website:certificates' %}'><button class="button solid-button white-purple small">Show All</button>
								<a href='{% url 'website:certificatesinst' inst_name='Linkedin' %}'><button class="button solid-button white-purple small" >Linkedin</button><a>
								<a href='{% url 'website:certificatesinst' inst_name='Maktabkhooneh' %}'><button class="button solid-button white-purple small">Maktabkhooneh</button>
								<a href='{% url 'website:certificatesinst' inst_name='RWTüV' %}'><button class="button solid-button white-purple small">RWTüV</button>
								<a href='{% url 'website:certificatesinst' inst_name='Tehran Polytechnic' %}'><button class="button solid-button white-purple small">Polytechnic</button>
							</div>
							<div id="portfolio" class="portfolio">
								{% for certificate in certificates %}
								<div class="item">
									<img src="{{ certificate.image.url }}" alt="alt text" class="img-responsive">
									<a href="{% url 'website:single' certificate.id %}" class="overlay">
										<div class="background"></div>
										<div class="meta">
											<span class="title">{{certificate.title}}</span>
											<span class="category">{{certificate.institution.name}}</span>
										</div> <!-- end .meta -->
									</a> <!-- end .overlay -->
									
								</div> <!-- end .item -->
								{% endfor %}
						</div> <!-- end .portfolio-wrapper -->
					</div> <!-- end .container -->
				</section> <!-- end #section1 -->

				

			</div> <!-- end .sections-wrapper -->
		</div> <!-- end .sections -->
		
		{% endblock %}