{% extends 'base.html' %}
{% load static %}
{% block content %}

		<!-- Sections -->
		<div class="sections">
			<div class="sections-wrapper clearfix">

			

				<!-- Experience -->
				<section id="section4">
					<div class="container">
						<h2>20 Years Experience</h2>
						<div class="experience-timeline">
							<div class="experience-block clearfix">
								<div class="meta">
									<span class="year">2022 - Current</span>
									<span class="company">Premium Technical Support (PTS), Dubai, UAE</span>
								</div> <!-- end .meta -->
								<div class="content">
									<h5>BI Developer & SQL Server Expert</h5>
									<p>This Company established in 2011 with the aim of providing products and services in the field of Technology
										<h5>Key Responsibilities:</h5>
										<ul>
										  <li>Redesign databases.</li>
										  <li>Design OLTP Data Model and Create SQL Objects, Tables, Procedures, etc.</li>
										  <li>Design ETL packages with SSIS and fill Data in the Data warehouse, Customize DWH Tables.</li>
										  <li>Create business reports with SQL Query and Power BI.</li>
										</ul>
						
										<h5>Key achivments:</h5>
										<ul>
										  <li>Redesigned databases for better due to making data usable.</li>
										  <li>Created more than 10 reports and dashboards using DAX and Power BI.</li>
										</ul>

									</p>
								</div> <!-- end .content -->
								<div class="icon">
									<i class="ion-calendar"></i>
								</div> <!-- end .icon -->
								<div class="line"></div>
							</div> <!-- end .experience-block -->
							<div class="experience-block clearfix">
								<div class="meta">
									<span class="year">2018 - 2022</span>
									<span class="company">Soshiance, Tehran, Iran</span>
								</div> <!-- end .meta -->
								<div class="content">
									<h5>BI Developer & SQL Server Expert</h5>
									<p>This Company established in 2003 with the aim of providing products and services in the field of Information and Communication Technology.
										<h5>Key Responsibilities:</h5>
										<ul>
										  <li>Work closely with clients, Analyze customer business requirements, gathering and processing.</li>
										  <li>Design OLTP Data Model and Create SQL Objects, Tables, Procedures, etc.</li>
										  <li>Design ETL packages with SSIS and fill Data in the Data warehouse, Customize DWH Tables.</li>
										  <li>Create business reports with SQL Query and Power BI.</li>
										</ul>
						
										<h5>Key achivments:</h5>
										<ul>
										  <li>Designed 5+ databases for new products (coordinated with the software developer team) due to client’s needs.</li>
										  <li>Converted 20+ reports from other systems into SSRS.</li>
										  <li>Trained 5+ business users in data modeling in Power BI for creating reports.</li>
										  <li>Created 50+ reports using Power BI.</li>
										  <li>Redesigned 5+ older dashboards to improve performance and decrease the time of analysis.</li>
										</ul>

									</p>
								</div> <!-- end .content -->
								<div class="icon">
									<i class="ion-calendar"></i>
								</div> <!-- end .icon -->
								<div class="line"></div>
							</div> <!-- end .experience-block -->
							<div class="experience-block clearfix">
								<div class="meta">
									<span class="year">2014 - 2018</span>
									<span class="company">Poomar, Markazi, Iran</span>
								</div> <!-- end .meta -->
								<div class="content">
									<h5>Production Line Expert</h5>
									<p>This company founded in 1972 with the aim of manufacturing stationery and office furniture.
										<h5>Key Responsibilities:</h5>
										<ul>
										<li>Analyzing customer requirements, Design and manage each project individually.</li>
										<li>Device repair and maintenance management.</li>
										<li>Visiting the installation projects. (Office furniture).</li>
										<li>Training of construction and installation personnel.</li>
										<li>Calculate the costs of each project separately and notify the CEO.</li>
										</ul>

										<h5>Key achivments:</h5>
										<ul>
										<li>Reduced production costs by increasing the productivity of labor.</li>
										<li>Reduced production waste by reviewing and redesigning products.</li>
										<li>Reduced product delivery time to the customer with full supervision from design to production and delivery.</li>
										</ul>

									</p>
								</div> <!-- end .content -->
								<div class="icon">
									<i class="ion-calendar"></i>
								</div> <!-- end .icon -->
								<div class="line"></div>
							</div> <!-- end .experience-block -->
							<div class="experience-block clearfix">
								<div class="meta">
									<span class="year">2006 - 2014</span>
									<span class="company">FaraNiroo Sazeh, Alborz, Iran</span>
								</div> <!-- end .meta -->
								<div class="content">
									<h5>Product Manager</h5>
									<p>This company was founded in 2005 with the aim of manufacturing various types of anchor bolts, patterns, various bolts and nuts (galvanized and phosphate), tray and ladder of cable and other apparatuses as required by industries.
              
										<h5>Key Responsibilities:</h5>
										<ul>
										<li>Analyzing customer requirements, gathering and managing the whole project.</li>
										<li>Find or build new technologies for this category.</li>
										<li>Analysis and review of accounting and warehousing.</li>
										<li>Recruitment and training of personnel.</li>
										<li>Prepare and submit reports to the board</li>
										</ul>

										<h5>Key achivments:</h5>
										<ul>
										<li>Construction of all structures required for power substations up to 400kw capacity.</li>
										<li>Construction of all required structures for more than 20 electrical substations.(63-230-400).</li>
										</ul>
									</p>
								</div> <!-- end .content -->
								<div class="icon">
									<i class="ion-calendar"></i>
								</div> <!-- end .icon -->
								<div class="line"></div>
							</div> <!-- end .experience-block -->
							<div class="experience-block clearfix">
								<div class="meta">
									<span class="year">2004 - 2006</span>
									<span class="company">Nasoozmehr, Alborz, Iran</span>
								</div> <!-- end .meta -->
								<div class="content">
									<h5>Quality Assurance Manager</h5>
									<p>This company established in 1998 with the aim of producing industrial parts from alloy steels. Company produces all kinds of low-alloy; high-alloy and non-alloy steel products with the use of experienced and expert workers as well as advanced equipment in compliance with international standards and guarantees the satisfaction of its customers.
              
										<h5>Key Responsibilities:</h5>

										<ul>
										<li>Design and creation of quality management system.</li>
										<li>Follow up on quality management system requirements.</li>
										<li>Audit of quality management system.</li>
										</ul>

										<h5>Key achivments:</h5>
										<ul>
										<li>We have succeeded in obtaining the ISO 9000 certification.</li>
										</ul>
									</p>
								</div> <!-- end .content -->
								<div class="icon">
									<i class="ion-calendar"></i>
								</div> <!-- end .icon -->
								
							</div> <!-- end .experience-block -->
						</div> <!-- end .experience-timeline -->

						<!-- Testimonials -->
						<div class="row">
							<div class="col-sm-8 col-sm-offset-2">
								<div class="testimonial-slider owl-carousel">
									
								</div> <!-- end .testimonial-slider -->
							</div> <!-- end .col-sm-8 -->
						</div> <!-- end .row -->

					</div> <!-- end .container -->
				</section> <!-- end #section1 -->

			

			</div> <!-- end .sections-wrapper -->
		</div> <!-- end .sections -->
		
	{% endblock %}