{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}

		<!-- Sections -->
		<div class="sections">
			<div class="sections-wrapper clearfix">

				<!-- Home -->
				<section id="section1" class="no-padding-bottom active">
					<div class="container">
						<div class="row">
							<div class="col-sm-7 vertical-center padding-fix">
								
								
								<h1>Develope<sup>+</sup> Design<sup>+</sup> Visualization<sup>+</sup> Data<sup>+</sup></h1>

								<h4>Welcome to My Digital Space</h4>
								<p> Hello!</p>
								<p> I’m thrilled to have you here. As a seasoned professional with over five years of experience in Development and Business Intelligence and a remarkable 14 years in the industrial environment, I invite you to explore my digital space. Whether you’re a fellow enthusiast, a collaborator, or simply curious, let’s embark on this journey together.</p>
								<p>Feel free to explore, ask questions, or share your own tales. Let’s forge connections, pixel by pixel.</p>
								<p>Best regards, </p>
								<img src="{% static 'images/signature2.png' %}" alt="signature" class="img-responsive">
							</div> <!-- end .col-sm-7 -->
							<div class="col-sm-5 vertical-center">
								<img src="{% static 'images/man.png' %}"  alt="man" class="img-responsive section-img">
							</div> <!-- end .col-sm-5 -->

							

						</div> <!-- end .row -->

							<div class="row">
								<div class="col-sm-5 vertical-center">
								
								</div> <!-- end .col-sm-5 -->

								<div class="col-sm-7 vertical-center padding-fix">
									
									
								
								</div> <!-- end .col-sm-7 -->
							
							</div> <!-- end .row -->
						
					
						
							
								
							
							
							
						
					</div> <!-- end .container -->


				</section> <!-- end #section1 -->
				
					
				
				
				

			</div> <!-- end .sections-wrapper -->
		</div> <!-- end .sections -->
		
		{% endblock %}