{% extends 'base.html' %}
{% load static %}
{% block content %}

		<!-- Sections -->
		<div class="sections">
			<div class="sections-wrapper clearfix">
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						 <div class="about-content col-lg-12">
							
							<p class="text-white link-nav">
						  <a href="{% url 'website:index' %}">Home</a> <span class="fa fa-arrow-right"></span><a href="{% url 'website:certificates' %}">Certificates</a> <span class="fa fa-arrow-right"></span> <span>{{certificate.title}}</span>
							</p>
					  </div>
					</div>
			  </div>

				<!-- Single Portfolio -->
				<section class="active">
					<div class="container">
						<div class="row">
							<div class="col-sm-8">
								<div class="portfolio-slider owl-carousel">
									<div><img src='{{certificate.image.url}}' alt="alt text" class="img-responsive"></div>
									<div><img src='{{certificate.image.url}}' alt="alt text" class="img-responsive"></div>
									
								</div> <!-- end .portfolio-slider -->
								
							</div> <!-- end .col-sm-8 -->
							<div class="col-sm-4">
								
								<div class="portfolio-details">
									<h4>{{certificate.title}}</h4>
									<p>Omnis iste natus error sit volup taisue mose accusantium doloremque ladain tium, totam rem aperiam, eaque ipama quae ab illo inventore veritatis et qasil architecto beatae vitae. dicta sunt epla cabo. Nemo enim ipsam volupt atemtr quia voluptas aut odit fugit, sed quia consequuntur</p>
									<div class="portfolio-meta">
										<span>Date:</span>
										22 Mar 2015
									</div> <!-- end .portfolio-meta -->
									<div class="portfolio-meta">
										<span>Client:</span>
										Osambem
									</div> <!-- end .portfolio-meta -->
									<div class="portfolio-meta">
										<span>Agency:</span>
										{{certificate.institution.name}}
									</div> <!-- end .portfolio-meta -->
									<div class="portfolio-meta">
										<span>Type:</span>
										Branding, Illustrator
									</div> <!-- end .portfolio-meta -->
									<p><a href="" class="button solid-button purple">Visit Website</a></p>
								</div> <!-- end .portfolio-details -->
							</div> <!-- end .col-sm-4 -->
						</div> <!-- end .row -->
					</div> <!-- end .container -->
				</section> <!-- end #section1 -->

			</div> <!-- end .sections-wrapper -->
		</div> <!-- end .sections -->
		
		{% endblock %}