{% extends 'base.html' %}
{% load static %}
{% block content %}

		<!-- Sections -->
		<div class="sections">
			<div class="sections-wrapper clearfix">
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						 <div class="about-content col-lg-12">
							
							<p class="text-white link-nav">
						  <a href="{% url 'website:index' %}">Home</a> <span class="fa fa-arrow-right"></span><a href="{% url 'website:certificates' %}">Certificates</a> <span class="fa fa-arrow-right"></span> <span>{{certificate.title}}</span>
							</p>
					  </div>
					</div>
			  </div>

				<!-- Single Portfolio -->
				<section class="active">
					<div class="container">
						<div class="row">
							<div class="col-sm-8">
								<div class="portfolio-details ">
									
									<div><img src='{{certificate.image.url}}' alt="alt text" class="img-responsive"></div>
									
									
								</div> <!-- end .portfolio-slider -->
								
							</div> <!-- end .col-sm-8 -->
							<div class="col-sm-4">
								
								<div class="portfolio-details">
									<h4>{{certificate.title}}</h4>
									<div class="portfolio-meta">
										<span>Date:</span>
										{{certificate.issu_date|date:'d M Y'}}
									</div> <!-- end .portfolio-meta -->
									
									<div class="portfolio-meta">
										<span>Institution:</span>
										{{certificate.institution.name}}
									</div> <!-- end .portfolio-meta -->
									<!-- <div class="portfolio-meta">
										<span>Type:</span>
										Branding, Illustrator
									</div> --> <!-- end .portfolio-meta -->
									<p><a href="{{certificate.field_name}}" target="_blank" class="button solid-button purple">Visit Website</a></p>
								</div> <!-- end .portfolio-details -->
								<div class="footer">
									<p class="button-row blog-button-row">
										{% if previous.id != certificate.id %}
										<a href="{% url 'website:single' previous.id %}" class="button solid-button light">Prev</a>
										{% else %}
										<a href="#" class="button solid-button purple">First</a>
										{% endif %}
										{% if next.id != certificate.id %}
										<a href="{% url 'website:single' next.id %}" class="button solid-button light">Next</a>
										{% else %}
										<a href="#" class="button solid-button purple">Last</a>
										{% endif %}
									</p>
								</div>
							</div> <!-- end .col-sm-4 -->
						</div> <!-- end .row -->
					</div> <!-- end .container -->
				</section> <!-- end #section1 -->

			</div> <!-- end .sections-wrapper -->
		</div> <!-- end .sections -->
		
		{% endblock %}