{% extends 'base.html' %}
{% load static %}
{% block content %}

		<!-- Sections -->
		<div class="sections">
			<div class="sections-wrapper clearfix">

				

				<!-- Skills -->
				<section id="section3">
					<div class="container">
						<h2>My Skills Values</h2>
						<div class="row">
							<div class="col-sm-6">
								<h3>Technical Skills</h3>
								<label class="progress-bar-label">Python</label>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
										<span>95%</span>
									</div> <!-- end .progress-bar -->
								</div> <!-- end .progress -->
								<label class="progress-bar-label">HTML</label>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
										<span>95%</span>
									</div> <!-- end .progress-bar -->
								</div> <!-- end .progress -->
								<label class="progress-bar-label">CSS</label>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
										<span>95%</span>
									</div> <!-- end .progress-bar -->
								</div> <!-- end .progress -->
								<label class="progress-bar-label">Javascript</label>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
										<span>95%</span>
									</div> <!-- end .progress-bar -->
								</div> <!-- end .progress -->
								
								<label class="progress-bar-label">Git</label>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
										<span>95%</span>
									</div> <!-- end .progress-bar -->
								</div> <!-- end .progress -->

							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-6">
								<h3> </h3>
								<label class="progress-bar-label">Django</label>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
										<span>90%</span>
									</div> <!-- end .progress-bar -->
								</div> <!-- end .progress -->
								<label class="progress-bar-label">ABAP</label>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
										<span>80%</span>
									</div> <!-- end .progress-bar -->
								</div> <!-- end .progress -->
								<label class="progress-bar-label">SQL</label>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
										<span>95%</span>
									</div> <!-- end .progress-bar -->
								</div> <!-- end .progress -->
								<label class="progress-bar-label">DAX</label>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
										<span>90%</span>
									</div> <!-- end .progress-bar -->
								</div> <!-- end .progress -->
								<label class="progress-bar-label">Power BI</label>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
										<span>90%</span>
									</div> <!-- end .progress-bar -->
								</div> <!-- end .progress -->
							</div> <!-- end .col-sm-6 -->
							
						</div> <!-- end .row -->
						<div class="spacer"></div>
						<hr>
						<h3>Soft Skills</h3>
						<div class="row">
							<div class="col-sm-4">
								<ul class="list-icons purple bold-list">
									<li><i class="md-arrow-forward"></i>Communication</li>
									<li><i class="md-arrow-forward"></i>Organization</li>
									<li><i class="md-arrow-forward"></i>Teamwork</li>
									<li><i class="md-arrow-forward"></i>Punctuality</li>
									<li><i class="md-arrow-forward"></i>Critical thinking</li>		
								</ul>
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-4">
								<ul class="list-icons purple bold-list">
									<li><i class="md-arrow-forward"></i>Problem-solving</li>
									<li><i class="md-arrow-forward"></i>Creativity</li>
									<li><i class="md-arrow-forward"></i>Interpersonal communication</li>
									<li><i class="md-arrow-forward"></i>Adaptability</li>
									<li><i class="md-arrow-forward"></i>Willingness to learn</li>		
								</ul>
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-4">
								<ul class="list-icons purple bold-list">
									<li><i class="md-arrow-forward"></i>Dependability</li>
									<li><i class="md-arrow-forward"></i>Empathy</li>
									<li><i class="md-arrow-forward"></i>Emotional intelligence</li>
									<li><i class="md-arrow-forward"></i>Social skills</li>
									<li><i class="md-arrow-forward"></i>Integrity</li>		
								</ul>
							</div> <!-- end .col-sm-6 -->
						</div>	 <!-- end .row -->
						<div class="spacer"></div>
						<hr>		
						<h3>Language Skills</h3>
						<div class="row">
							<div class="col-sm-4">
								<div class="circle-progress-wrapper clearfix">
									<div class="circle-progress">
										<input type="text" class="dial" value="100" data-color="#7c4dff" data-from="0" data-to="100" />
									</div> <!-- end .circle-progress -->
									<div class="circle-progress-label-wrapper"><label class="circle-progress-label">Persian Native</label></div>
								</div> <!-- end .circle-progress-wrapper -->
							</div> <!-- end .col-sm-4 -->
							<div class="col-sm-4">
								<div class="circle-progress-wrapper clearfix">
									<div class="circle-progress">
										<input type="text" class="dial" value="90" data-color="#7c4dff" data-from="0" data-to="90" />
									</div> <!-- end .circle-progress -->
									<div class="circle-progress-label-wrapper"><label class="circle-progress-label">English Experienced</label></div>
								</div> <!-- end .circle-progress-wrapper -->
							</div> <!-- end .col-sm-4 -->
							<div class="col-sm-4">
								<div class="circle-progress-wrapper clearfix">
									<div class="circle-progress">
										<input type="text" class="dial" value="70" data-color="#7c4dff" data-from="0" data-to="70" />
									</div> <!-- end .circle-progress -->
									<div class="circle-progress-label-wrapper"><label class="circle-progress-label">German Basic</label></div>
								</div> <!-- end .circle-progress-wrapper -->
							</div> <!-- end .col-sm-4 -->
						</div> <!-- end .row -->
					</div> <!-- end .container -->
				</section> <!-- end #section1 -->

				

			</div> <!-- end .sections-wrapper -->
		</div> <!-- end .sections -->
		
		{% endblock %}