{% load static %}
{% load blog_tags %}


    <div class="row d-flex justify-content-center">
      
          <h4 class="mb-10">Latest from My Blog</h4>
          
        
    </div>

    <div class="row">
      <div class="active-recent-blog-carusel">
        {% for post in posts %}
          <div class="single-recent-blog-post item">
            <div class="thumb">
              <img class="img-fluid" src="{{ post.image.url }}" style = "height: 50px; width: 50px;" alt="" />
            </div>
            <div class="details">
              
              <a href="{% url 'blog:single' pid=post.id %}"><h6>{{ post.title }}<span class="fa fa-hand-o-right"></span>{{ post.published_date|date:'jS F, Y' }}</h6></a>
            
              
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
 