{% load static %}
{% load blog_tags %}

<div class="single-sidebar-widget post-category-widget">
  <h4 class="category-title">Post Catgories</h4>
  <ul class="cat-list">
    {% for name, count in categories.items %}
      <li>
        <div class="d-flex justify-content-between">
        <a href="{% url 'blog:category' cat_name=name %}" class="d-flex justify-content-between">
          <span>{{ name }}</span></a>
          <span>{{ count }}</span>
        </div>
      </li>
    {% endfor %}
  </ul>
  <div class="signature"></div>
</div>
