{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load blog_tags %}
{% block content %}


		<!-- Sections -->
		<div class="sections">
			<div class="sections-wrapper clearfix">
			<div class="overlay overlay-bg"></div>
    			<div class="container">
     				 <div class="row d-flex align-items-center justify-content-center">
       					<div class="about-content col-lg-12">
          					
          					<p class="text-white link-nav">
            				<a href="{% url 'website:index' %}">Home</a> <span class="fa fa-arrow-right"></span><a href="{% url 'blog:index' %}">Blog</a> <span class="fa fa-arrow-right"></span> <span>{{post.title}}</span>
          					</p>
        				</div>
      				</div>
    			</div>


			
				

				<!--Single Blog Post -->
				<section>


					<div class="container">
						<div class="single-blog-post">


							<header class="blog-header clearfix">
								<div class="content">
									<!--<span class="date">March 11, 2015</span>-->
									<h4>{{post.title}}</h4>
									<!--<span class="meta"><a href="">7 Comments</a> | <a href="">By Admin</a></span> -->
									<div class="user-details row">
										<p class="user-name col-lg-12 col-md-12 col-6"><a href="{% url 'website:about' %}">{{post.author.get_full_name}}</a> <span class="fa fa-user"></span></p>
										<p class="date col-lg-12 col-md-12 col-6"><a href="#">{{post.published_date|date:'D, d M Y'}}</a> <span class="fa fa-calendar"></span></p>
										<p class="view col-lg-12 col-md-12 col-6"><a href="#">{{post.counted_view}} views</a> <span class="fa fa-eye"></span></p>
										<p class="comments col-lg-12 col-md-12 col-6"><a href="#">{% comment_count post.id %} Comments</a> <span class="fa fa-comments"></span></p>	
										
											<span><ul class="tags">
												<!-- {{ post.category.all|join:", "}} -->
												{% for cat in post.category.all %}
												  <a href="{% url 'blog:category' cat_name=cat.name %}">{{ cat.name }}</a>{% if not forloop.last %},{% endif %}
												{% endfor %}
											  </ul></span>
											<br>
											<br>																			
									</div>
									<div class="footer">
										<p class="button-row blog-button-row">
											{% if previous.id != post.id %}
											<a href="{% url 'blog:single' previous.id %}" class="button solid-button light">Prev</a>
											{% else %}
											<a href="#" class="button solid-button purple">First</a>
											{% endif %}
											{% if next.id != post.id %}
											<a href="{% url 'blog:single' next.id %}" class="button solid-button light">Next</a>
											{% else %}
											<a href="#" class="button solid-button purple">Last</a>
											{% endif %}
										</p>
									</div>
								</div> <!-- end .content -->
								<div class="image" ><img  src='{{post.image.url}}' alt="" /></div>
							</header> <!-- end .blog-header -->


							<div class="blog-post">
								<div class="blog-post-content">
									<p>{{ post.content|safe }}</p>
									
								</div> <!-- end .blog-post-content -->




								<div class="blog-post-comments">
									<h4>{{ comment|length }} Comments</h4>
									{% for comment1 in comment %}

									<div class="comment">
										<div class="inner clearfix">
											<div class="image"><img src="{% static 'images/comment.png' %}" alt="alt text" class="img-responsive"></div>
											<div class="content">
												<h5>{{comment1.name}}</h5>
												<span class="meta">{{comment1.created_date|naturalday}}</span>
												<h6>{{comment1.subject}}</h6>
												<p>{{comment1.message}}</p>
												
												
											</div> <!-- end .content -->
										</div> <!-- end .inner -->
										
									</div> <!-- end .comment -->

									{% empty %}
									<p>No Comment yet, Be the First</p>
									{% endfor %}

								</div> <!-- end .blog-post-comments -->




								<div class="leave-comment">
									<h4>Leave A Comment</h4>
									<div class="inner">
										

										<form action="{% url 'blog:single' pid=post.id %}" method="post" class="form-horizontal">
											{% csrf_token %}
											<input type="hidden" name="post" value="{{post.id}}">
											<div class="form-group">
												<label class="col-sm-2 control-label">Name</label>
												<div class="col-sm-10">
													<input type="text" class="contact-name" name="name" />
												</div> <!-- end .col-sm-10 -->
											</div> <!-- end .form-group -->
											<div class="form-group">
												<label class="col-sm-2 control-label">Email</label>
												<div class="col-sm-10">
													<input type="email" class="contact-email" name="email" />
												</div> <!-- end .col-sm-10 -->
											</div> <!-- end .form-group -->
											<div class="form-group">
												<label class="col-sm-2 control-label">Subject</label>
												<div class="col-sm-10">
													<input type="text" class="contact-name" name="subject" />
												</div> <!-- end .col-sm-10 -->
											</div> <!-- end .form-group -->
											<div class="form-group">
												<label class="col-sm-2 control-label">Message</label>
												<div class="col-sm-10">
													<textarea name="message" class="contact-message" rows="3"></textarea>
												</div> <!-- end .col-sm-10 -->
											</div> <!-- end .form-group -->
											<div class="form-group">
												<div class="col-sm-10 col-sm-offset-2">
													<button type="submit" class="button solid-button purple">Post Comment</button>
												</div> <!-- end .col-sm-10 -->
											</div> <!-- end .form-group -->
										</form>
									</div> <!-- end .inner -->
								</div> <!-- end .leave-comment -->



							</div> <!-- end .blog-post -->




							<div class="blog-details">
								{% include 'blog/blog-writer.html' %}


								<!-- <div class="section">
									<h5>Share Post</h5>
									<div class="social-icons">
										<a href="" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="" class="social-icon"><i class="fa fa-google-plus"></i></a>
										<a href="" class="social-icon"><i class="fa fa-behance"></i></a>
										<a href="" class="social-icon"><i class="fa fa-dribbble"></i></a>
									</div> --><!-- end .social-icons -->
								<!--</div>--> <!-- end .section -->


								<div class="">
									{% include 'blog/blog-tags.html' %}
								</div> <!-- end .section -->
								<div class="signature"></div>

								{% popularpost 2 %}
								
							</div> <!-- end .blog-details -->



						</div> <!-- end .single-blog-post -->
					</div> <!-- end .container -->
				</section>




			</div> <!-- end .sections-wrapper -->
		</div> <!-- end .sections -->
		
		{% endblock %}